* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.hero {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(30deg, #17091e, #1a518f, #260f31);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero h1 {
    color: rgb(207, 207, 207);
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: center;

}

.hero span {
    color: #f42501fd;
    border-bottom: 0.2rem solid rgb(32, 35, 233);
    border-radius: 1.3rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.hero textarea {
    width: clamp(20rem, 40vw, 45rem);
    font-size: clamp(1rem, 1vw, 1.5rem);
    height: 50vh;
    background-color: #ddbdee41;
    border-radius: 1rem;
    padding: 1rem;
    font-family: monospace;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    resize: none;
    overflow: visible;
    border: none;
    color: rgb(241, 241, 241);
}

.bottom select {
    height: 7vh;
    width: clamp(10rem, 30vw, 50rem);
    padding: 0 2rem;
    background-color: #ffffff2e;
    border: none;
    color: rgb(222, 222, 222);
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
}

.bottom select:focus {
    background-color: #000000;
    outline: none;
}

.bottom button {
    background-color: #f4250169;
    width: fit-content;
    color: rgb(250, 250, 250);
    border: none;
    height: 7vh;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
}

.bottom button:hover {
    background-color: #f42501fd;

}

.bottom button img {
    height: 4vh;
    object-fit: contain;
    margin-right: 1vw;
}

@media (max-width: 768px) {
    .hero {
        justify-content: flex-start;
    }

    .hero h1 {
        margin-top: 4vh;
    }

    .bottom {
        flex-direction: column;
    }

    .bottom select {
        width: 95%;

    }
}